/* 
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* #content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
} */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
} */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* margin-left: calc(100vw - 100%); */
    /* overflow-y: scroll; */
    width: 100vw;
}
body{
    width: 100vw;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
.loaderSpinner{
    display: none; 
}

.loaderSpinnerInline{
    display: inline-block;
    margin-right:5px
}

.navbar-brand{
    margin-left: 5px;
}

.DeviceUuidDropdown .dropdown-menu{
    min-width: 25rem;
}

.DeviceUuidDropdownButton{
    margin-left:5px;
    min-width: 8rem;
}

#whiteFontColorNav .nav-link{
    color:rgb(216, 216, 216);
    transition: color 0.3s , border-bottom 0.3s;
}
#whiteFontColorNav .nav-link:hover{
    color:rgb(245, 245, 245);
}

.navbar-nav .dropdown-toggle, #signInNav{
    /* border-bottom: 3px solid white; */
    transition: border 0.3s;
}
.navbar-nav .dropdown-toggle:hover, #signInNav .nav-item:hover{
    border-bottom: 3px solid white;
    margin-bottom: -3px;
}

.navbar-nav .dropdown-menu{
    color:black;
}

#userMenu .nav-link{
    /* background-color: rgb(0, 0, 0); */
    color: black;
    transition: color 0.3s;
}
#userMenu .nav-link:hover{
    /* background-color: rgb(94, 0, 0); */
    color: rgb(99, 99, 99);
}

#userMenu{
    min-width: 13rem;
}

.push-right {
    float: right;
}

#signInNav .nav-link{
    color: white;
}



#contentWrapper {
    /* width: calc(100vw - 250px); */
    width:100vw;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    transition: width 0.5s;
}

#contentWrapper.show-sidebar{
    /* width: 100vw; */
    width: calc(100vw - 250px)
}

#sidebarWrapper.show-sidebar {
    margin-left: 0px;
}

#sidebarWrapper{
    height: 100vh;
    position:fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    /* background-color: whitesmoke; */
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    width: 250px;
    border-right: 2px;
    margin-left:-250px;
    /* display:none */
}

#sidebarWrapper a[data-toggle="collapse"] {
    position: relative;
}

#sidebarWrapper .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    /* #sidebarWrapper {
        margin-left: -250px;
    } */
    #sidebarWrapper.show-sidebar{
        margin-left: 0;
        width: 100vw;
    }
    /* #contentWrapper{
        width: 100vw;
    } */
    #contentWrapper.show-sidebar{
        width: 100vw;
    }
}

#sidebarWrapper a, #sidebarWrapper a:hover, #sidebarWrapper a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebarWrapper .sidebar-heading {
    width: 100%;
    border-radius:0rem;
    text-align: left;
    padding:1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

#sidebarWrapper ul.components{
    padding: 20px 0;
    padding-top: 0px;
    /* border-bottom: 1px solid #7386D5; */
}

#sidebarWrapper ul{
    color: black;
}

#sidebarWrapper ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-weight: bold;
}

#sidebarWrapper ul.show li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebarWrapper ul.show li a {
    color:whitesmoke;
    /* transition: color 0s; */
}

#sidebarWrapper ul li.active > a {
    color: #fff;
    background: #6d7fcc;
}

#sidebarWrapper a[aria-expanded="true"]{
    background: rgb(0, 23, 99);
    color: white;
}
#sidebarWrapper ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebarWrapper ul ul a.active {
    color: white;
    background: #343a40;
}

#sidebarWrapper ul ul a.active:hover {
    color: white;
    background-color: #23272b;
}


/* #sidebarWrapper ul ul li {
    border-bottom: solid black 1px;
} */

#dismissSidebar {
    width: 2rem;
    height: 2rem;
    color: white;
    line-height: 2rem;
    /* padding:0.5rem; */
    /* font-size: 1.5rem; */
    font-weight: bold;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
    text-align: center;
    transition: all 0.3s;
}

#dismissSidebar:hover{
    background: #fff;
    color: #7386D5;
}

#dismissSidebar .fa-arrow-left{
    vertical-align: middle;
}

#deviceSubmenu li{
    color: rgb(66, 66, 66);
}

.removeBtnDevice{
    background-color: #dc3545;
    width: 30px;
    transition:  all 0.5s;
    position:absolute;
    border-bottom:1px white solid;
    top:0;
    right:0;
    height:100%;
    color: white;
    border-radius: 5px 0 0 5px;
}

.removeBtnDevice:hover{
    background-color: #c82333;
}
#sidebarWrapper ul li a{
    padding-right: 29px;
}
#deviceSubmenu a.show_delete{
    padding-right: 50px;
}
#deviceSubmenu .removeBtnDevice.show_delete{
    width:50px;
}
/* #testElement:hover{
    

} */

#deviceSubmenu .device_link{
    position:relative;
}

.removeBtnDevice svg{
    margin:0 auto; 
    display:block; 
    padding: auto; 
    height: 100%; 
    /* color: red */
}

.content{
    padding:10px 25px 0px 25px;
}


/* .chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
} */

#deviceInfoWrapper {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 10px;
    min-height: 4rem;
    /* font-weight:bold; */
    /* font-famil */
    /* border-bottom: 1px dotted black; */
    border-radius: 5px;
}

#getDeviceDatasheetForm .input-group .radio input[name="type_query"]{
    margin-left:5px;
    margin-right: 3px;
}

#getDeviceDatasheetForm .input-group label{
    margin-right: 5px;
}

#getDeviceDatasheetForm .input-group {
    margin-top: 10px;
}

#getDeviceDatasheetForm .input-group .btnGroup{
    margin-left:auto;
}

#getDeviceDatasheetForm .input-group .btnGroup .btn{
    margin-left: 5px;
}

#getDeviceDatasheetForm .input-group{
    align-items: center;
}

.getDataGroupInput{
    display: none;
}

.getDataGroupInput.show{
    display: block;
}