html {
    width: 100%;
    min-height: 100%;
}
body {
	
	height: 100vh;
	width: 100vw;
	margin:0;
	padding:0;
	border:0;
	overflow: auto;
    background-color: lightblue;
}

#uuid-con{
	margin-left: 20px;
}
#con-branch{
	padding: 0px 0px 0px 0px;
	background-color: green;
}	
#nav-header{
	width=device-width;
	padding: 0px 0px 0px 0px;
	
}	
#logo{
	border-left: 0px;
	margin-left: 0px;
	width: 100px;
	height: 100px;
}
#toolbar-nav .nav-link{
	color: white;
	font-weight: bold;
	flex-wrap: wrap;
	text-indent: 20px
}	

#toolbar-nav .nav-link:hover{
	color: yellow;
}

#toolbar-nav .nav-link:active{
	color:purple;
}	
#toolbar-option{
	background-color: white;
}
.navbar-collapse{
	padding: 0px 0px 0px 0px;
}