extends layout

block vars
    - var page_title = "Remote Health Biometric Dashboard"

append header_css
    link(href="css/index.css", rel="stylesheet")

append header_script

block content
    //- .toast(role='alert' aria-live='assertive' aria-atomic='true' data-autohide="false")
    //-     .toast-header
    //-         div.rounded.mr-2
    //-             i(class="fas fa-info-circle")

    nav#sidebarWrapper.bg-light


        div.sidebar-heading.btn-primary.btn 
            i(class="fas fa-laptop-medical" style="margin-right:5px")
            | Device Panel
            div#dismissSidebar
                i(class="fas fa-arrow-left fa-sm")
        
        ul.list-unstyled.components
            li
                a#deviceSubmenuHeader(href='#deviceSubmenu' aria-expanded='false') 
                    i(class="fas fa-clipboard-list" style="margin-right:5px")
                    | Device List
                ul#deviceSubmenu.collapse.list-unstyled
                    //- li
                    //-     a.device_link(href='javascript:void(0)')
                    //-         i(class="fas fa-microchip" style="margin-right:5px")
                    //-         | 3c8f06ad-75df-4734-84d8-898938eb4ba4  
                    //-         .removeBtnDevice(style="")
                    //-             i(class="fas fa-minus-circle" style="")
                    //-         //- #clearfix(style="clear:both")
                    //- li
                    //-     a(href='javascript:void(0)') Home 2
                    //- li
                    //-     a(href='javascript:void(0)') Home 3
            //- li
            //-     a(href="#") Dashboard
            //- li
            //-     a(href="#") Dashboard
            //- li
            //-     a(href="#") Dashboard





    #contentWrapper
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style="background-color: #e3f2fd")
            a.navbar-brand(href='javascript:void(0)')
                i(class="fa fa-heart" aria-hidden="true" style="color:red")
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='javascript:void(0)') Remote Health Biometric
                    //- li.nav-item
                    //-     a.nav-link(href='javascript:void(0)') Upload Your Own
                    //- li.nav-item
                    //-     a.nav-link(href='javascript:void(0)') Contact
                    if user
                        button#sidebarButton.btn.btn-danger 
                            i(class="fas fa-bars" style="margin-right: 5px")
                            | Show Device
                        ul.navbar-nav
                            li.nav-item.dropdown.DeviceUuidDropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    i(class="fas fa-plus-square" style="margin-right:5px")
                                    | Add device uuid
                                .dropdown-menu.p-3
                                    form.form-horizontal#addDeviceUuidForm(action='/addDevice' method="post")
                                        .input-group
                                            input.form-control.login(type='text' name='device_uuid' placeholder='Device Uuid')
                                            button.btn.btn-primary.DeviceUuidDropdownButton
                                                span(class="fa fa-spinner fa-spin").loaderSpinner
                                                i(class="fas fa-plus-square" style="margin-right:5px")
                                                | Submit
                                        //input.btn.btn-primary(type='button' name='submit' value='Submit')
                        //- ul.navbar-nav.mr-right
                        //-     li.nav-item.dropdown.DeviceUuidDropdown
                        //-         a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        //-             i(class="fas fa-plus-square" style="margin-right:5px")
                        //-             | Remove device uuid
                        //-         .dropdown-menu.p-3
                        //-             form.form-horizontal#removeDeviceUuidForm(action='/removeDevice' method="post")
                        //-                 .input-group
                        //-                     input.form-control.login(type='text' name='device_uuid' placeholder='Device Uuid')
                        //-                     button.btn.btn-primary.DeviceUuidDropdownButton
                        //-                         span(class="fa fa-spinner fa-spin").loaderSpinner
                        //-                         i(class="fas fa-plus-square" style="margin-right:5px")
                        //-                         | Submit
                        //-                 //input.btn.btn-primary(type='button' name='submit' value='Submit')
                        //- //- li.nav-item
                        //- //-     a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='http://example.com' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        //- //-         | Register
                
                if user
                    ul.navbar-nav#whiteFontColorNav
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                                i(class="fas fa-user" style="margin-right: 5px")
                                | #{user.username}
                                
                            .dropdown-menu.dropdown-menu-right#userMenu(aria-labelledby="navbarDropdown")
                                a.nav-link(href='/logout') 
                                    //- div.mr-auto
                                    | Sign out
                                    i(class="push-right fas fa-sign-out-alt")
                                    
                                .dropdown-divider
                else
                    ul.navbar-nav#signInNav
                        li.nav-item
                            a.nav-link(href="/login") 
                                i(class="fas fa-sign-in-alt" style="margin-right:5px")
                                | Sign In

        //- if device
        //-     each dev in device
        //-         div= dev.Device_uuid + ' ' + dev.Device_name
        //- form(action='/addDevice' method="post")
        //-     h1 Add device uuid
        //-     //- .social-container
        //-     //-     a.social(href='javascript:void(0)')
        //-     //-         i.fab.fa-facebook-f
        //-     //-     a.social(href='javascript:void(0)')
        //-     //-         i.fab.fa-google-plus-g
        //-     //-     a.social(href='javascript:void(0)')
        //-     //-         i.fab.fa-linkedin-in
        //-     //- span or use your account
        //-     input(name='device_uuid' type='text' placeholder='Add device uuid')
        //-     button
        //-         span(class="fa fa-spinner fa-spin").loaderSpinner
        //-         | Submit
        //- .wrapper
        //-     nav.navbar.navbar-expand-lg.navbar-light.bg-light
        //-         div
        //-             button(type="button")
        //-                 i.fas.fa-file-medical
        //-                 span.navbar-toggler-icon
                        
        //-         div.navbar-brand
        //-             //- a(href="#") 
        //-             Brand REMOTE HEALTH MONITOR
        //-         button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        //-             span.navbar-toggler-icon
        //-         #navbarSupportedContent.navbar-collapse.collapse
        //-             ul.nav.navbar-nav.ml-auto
        //-                 //- li.nav-item.active
        //-                 //-     a.nav-link(href='javascript:void(0)') Page
        //-                 //- li.nav-item
        //-                 //-     a.nav-link(href='javascript:void(0)') Page
        //-                 //- li.nav-item
        //-                 //-     a.nav-link(href='javascript:void(0)') Page
                        
        //-                     else
        //-                         a.nav-link(href='/login') Sign In
            
            
        .content
            if user


                //- #canvasWrapper.chartWrapper
                .chartAreaWrapper
                    ul.nav.nav-pills
                        li
                            a.nav-item.nav-link(data-toggle='pill' href='#menu0') Red Graph
                        li
                            a.nav-item.nav-link(data-toggle='pill' href='#menu1') IR Graph    
                        li
                            a.nav-item.nav-link(data-toggle='pill' href='#menu2') BPM Graph
                        li
                            a.nav-item.nav-link(data-toggle='pill' href='#menu3') spO2 Graph
                        li
                            a.nav-item.nav-link.active(data-toggle='pill' href='#menu4') Red Pulse
                        li
                            a.nav-item.nav-link(data-toggle='pill' href='#menu5') IR Pulse
                        button#resetZoom.btn-primary.btn(style="margin-left:auto")
                            i(class="fas fa-search-minus")
                        
                    .tab-content
                        div(style="position: relative;")
                            .toast#realTimeInfo(role='alert' aria-live='polite' aria-atomic='true' data-autohide="false"  style="position: absolute; top: 2em; right: 0;")
                                .toast-header.bg-primary
                                    div.rounded.mr-2
                                        i#realTimeSpinner(style="color:white" class="fas fa-info-circle")
                                    strong.mr-auto(style="color:white") Real time info
                                    small.timeStamp
                                    //- button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
                                    //-     span(aria-hidden='true') &times;
                                .toast-body
                                    | Real time measument will appear here
                        #menu0.tab-pane(style="width:100%; min-height: 500px")
                            //- #realTimeInfoPaneRedIR
                            canvas#myChartRedRaw
                        #menu1.tab-pane(style="width:100%; min-height: 500px")
                            //- #realTimeInfoPaneRedIR
                            canvas#myChartIRRaw
                        #menu2.tab-pane(style="width:100%; height: 500px")
                            //- #realTimeInfoPaneBPM
                            canvas#myChartBPM
                        #menu3.tab-pane(style="width:100%; height: 500px")
                            //- #realTimeInfoPanespO2
                            canvas#myChartspO2
                        #menu4.tab-pane.active(style="width:100%; height: 500px")
                            //- #realTimeInfoPaneRedPulse
                            canvas#myChartRedPulse
                        #menu5.tab-pane(style="width:100%; height: 500px")
                            //- #realTimeInfoPaneRedPulse
                            canvas#myChartIRPulse
                    //- 
                    //- 
                    //- 
                    //- canvas#myChartSpO2(width="500px" height="300")
                    //- #myChartAxis
                
                        
                ul.nav.nav-tabs#deviceTabHeader(role='tablist')
                    li.active(role='presentation')
                        a(class="nav-item nav-link active" href='#tab-01' aria-controls='tab-01' role='tab' data-toggle='tab') 
                            i(class="fas fa-info-circle" style="margin-right:5px")
                            | Device Info
                    li(role='presentation')
                        a(class="nav-item nav-link" href='#tab-02' aria-controls='tab-02' role='tab' data-toggle='tab') 
                            i(class="fas fa-table" style="margin-right:5px")
                            | Sheet Data
                    //- li(role='presentation')
                    //-     a(class="nav-item nav-link" href='#tab-03' aria-controls='tab-03' role='tab' data-toggle='tab') 
                    //-         i#realTimeSpinner(class="fas fa-spinner fa-spin" style="display:none; margin-right:5px")
                    //-         | Real Time
                    .custom-control.custom-switch(style='margin-left:auto')
                        input#customSwitch1.custom-control-input(type='checkbox')
                        label.custom-control-label(for='customSwitch1') Real-time graph switch
                .tab-content
                    #tab-01.tab-pane.active(role='tabpanel')
                        #deviceInfoWrapper
                            #deviceInfo(style="box-shadow: 0 0 10px #ccc;")
                                //- .deviceInfoHeader.bg-primary(style="padding: 5px 10px; color:white; display: flex")
                                //-     .rounded.mr-2(style="display:inline-flex; align-items:center")
                                //-         i#deviceInfoSpinner(style="vertical-align:middle;" class="fas fa-info-circle")
                                //-     .deviceInfoName.strong.mr-auto(style="display:flex; align-items:center") Real time info
                                //-     //- small.timeStamp
                                //-     button.btn#reloadDeviceInfoBtn(type='button' style="color:white")
                                //-         i(class="fas fa-sync-alt")
                                //- .toast-body
                                //-     | Real time measument will appear here
                            #infoPane(style="display:none")
                    #tab-02.tab-pane(role='tabpanel')
                        form#getDeviceDatasheetForm(action='/getDataStream' method='POST')
                            .input-group
                                .radio
                                    label
                                        input(type='radio' id="radioGetLatestCheck" name='type_query' value="get_latest" checked='')
                                        | Get latest
                                .radio
                                    label
                                        input(type='radio' id="radioGetAllCheck" name='type_query' value="get_all")
                                        | Get all
                                .radio
                                    label
                                        input(type='radio' id="radioGetBytimerangeCheck" name='type_query' value="get_by_timerange")
                                        | Get by timerange  
                                .radio
                                    label
                                        input(type='radio' id="radioGetByLengthCheck" name="type_query" value='get_by_length')
                                        | Get by length
                                .btnGroup
                                    button.btn.btn-primary#getDatasheetBtn 
                                        i(class="fas fa-table" style="margin-right:5px")
                                        | Get data
                                    button.btn.btn-primary#graphDatasheetBtn(type="button") 
                                        i(class="fas fa-chart-line" style="margin-right:5px")
                                        | Graph
                                    button.btn.btn-primary#downloadDatasheetBtn(type="button") 
                                        i(class="fas fa-cloud-download-alt" style="margin-right:5px")
                                        | Download CSV
                                    
                            
                            #getTimerangeInput.getDataGroupInput
                                .input-group.mb-3
                                    .input-group-prepend
                                        .input-group-text
                                            input(checked='' type='checkbox' aria-label='Checkbox for following text input' name="timerange_check" value="timerange_start")
                                        span#basic-addon3.input-group-text Timerange start
                                    input.form-control(name="timerange_start" type='datetime-local' value='2011-08-19T13:45:00' aria-describedby='basic-addon3')
                                .input-group.mb-3
                                    .input-group-prepend
                                        .input-group-text
                                            input(checked='' type='checkbox' aria-label='Checkbox for following text input' name="timerange_check" value="timerange_end")
                                        span#basic-addon3.input-group-text Timerange end
                                    input.form-control(name="timerange_end" type='datetime-local' value='2011-08-19T13:45:00' aria-describedby='basic-addon3')
                            #getByLengthInput.getDataGroupInput
                                .input-group.mb-3
                                    .input-group-prepend
                                        .input-group-text
                                            input(checked='' type='checkbox' aria-label='Checkbox for following text input' name="get_length_check" value="index_start")
                                        span#basic-addon3.input-group-text Index start
                                    input.form-control(name="index_start" type='number' aria-describedby='basic-addon3')
                                .input-group.mb-3
                                    .input-group-prepend
                                        .input-group-text
                                            input(checked='' type='checkbox' aria-label='Checkbox for following text input' name="get_length_check" value="index_end")
                                        span#basic-addon3.input-group-text Index end
                                    input.form-control(name="index_end" type='number' aria-describedby='basic-addon3')
                                .input-group.mb-3
                                    .input-group-prepend
                                        .input-group-text
                                            input(checked='' type='checkbox' aria-label='Checkbox for following text input' name="get_length_check" value="get_length")
                                        span#basic-addon3.input-group-text Get length
                                    input#basic-url.form-control(name="get_length" type='number' aria-describedby='basic-addon3')
                        #dataSheetTable(style="margin-top:10px;")
                            //- table.table.table-striped.table-bordered.table-hover
                            //-     caption Device data
                            //-     thead.thead-dark
                            //-         tr
                            //-             th(scope='col') #
                            //-             th(scope='col') Red
                            //-             th(scope='col') IR
                            //-             th(scope='col') BPM
                            //-             th(scope='col') SpO2
                            //-     tbody
                            //-         tr
                            //-             th(scope='row') 1
                            //-             td Mark
                            //-             td Otto
                            //-             td @mdo
                            //-         tr
                            //-             th(scope='row') 2
                            //-             td Jacob
                            //-             td Thornton
                            //-             td @fat
                            //-         tr
                            //-             th(scope='row') 3
                            //-             td Larry
                            //-             td the Bird
                            //-             td @twitter
                    //- #tab-03.tab-pane(role='tabpanel')
                    //-     | content of tab 3

       
append footer
    script.
        let user = !{JSON.stringify(user)};
        let SERVER_HOST = !{JSON.stringify(SERVER_HOST)};
        //- let device = !{JSON.stringify(device)};
    script(src="js/index.js")