extend layout

block vars
    - var page_title = "Register"

append header_css
    link(href="css/login.css", rel="stylesheet")
append header_script

block content
    h2#login-header
        a(href='/' id="home-button") 
            span(class="fa fa-home" aria-hidden="true")
        | Sign-in / Sign-up
    #container.container
        .form-container.sign-up-container
            form(action='/register' method="post" id="sign-up-form")
                h1 Create Account
                //- .social-container
                //-     a.social(href='#')
                //-         i.fab.fa-facebook-f
                //-     a.social(href='#')
                //-         i.fab.fa-google-plus-g
                //-     a.social(href='#')
                //-         i.fab.fa-linkedin-in
                //- span or use your email for registration
                input(name='username' type='text' placeholder='Username')
                input(name='email' type='email' placeholder='Email')
                input(name='password' type='password' placeholder='Password')
                button
                    span(class="fa fa-spinner fa-spin").loaderSpinner 
                    | Sign Up
        .form-container.sign-in-container
            form(action='/login' method="post" id="sign-in-form")
                h1 Sign in
                //- .social-container
                //-     a.social(href='#')
                //-         i.fab.fa-facebook-f
                //-     a.social(href='#')
                //-         i.fab.fa-google-plus-g
                //-     a.social(href='#')
                //-         i.fab.fa-linkedin-in
                //- span or use your account
                input(name='login_info' type='text' placeholder='Email/Username')
                input(name='password' type='password' placeholder='Password')
                button
                    span(class="fa fa-spinner fa-spin").loaderSpinner
                    | Sign In
                    
                
        .form-container.forgot-password-container
            form(action='/forgot_password' method="post" id="forgot-password-form")
                h1 Forgot password
                input(name='login_info' type='text' placeholder='Email/Username')
                button 
                    span.loaderSpinner(class="fa fa-spinner fa-spin") 
                    | Reset password
                //- div(style="height: 50px; width: 100%")
                span
                    i(class="fas fa-arrow-right fa-3x")

        .overlay-container
            .overlay
                .overlay-panel.overlay-left
                    h1(style="margin-bottom:15px") Welcome Back!
                    //- p Log in
                    button#signIn.ghost Sign In
                    a(href='#forgot-password') Forgot your password?
                .overlay-panel.overlay-right
                    h1(style="margin-bottom:15px") New here?
                    //- p Create new account
                    button#signUp.ghost Sign Up
                    a(href='#forgot-password') Forgot your password?
    footer
        //- p
        //-     | Created with 
        //-     i.fa.fa-heart
        //-     |    by
        //-     a(target='_blank' href='https://florin-pop.com') Florin Pop
        //-     | &#x9;&#x9;- Read how I created this and how you can join the challenge
        //-     a(target='_blank' href='https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/') here
        //-     | .


append footer
    script(src="js/login.js")