doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title This is Boostrap 4
  // Latest compiled and minified CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  // jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  // Popper JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  // Latest compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  link(href='../css/manage_device.css' rel='stylesheet')
  link(href='https://use.fontawesome.com/releases/v5.0.4/css/all.css' rel='stylesheet')
nav#nav-header.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
  #con-branch.container-fluid
    a.navbar-branch(href='https://www.google.com')
      img#logo(src='../image/logo.png')
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Home
        li.breadcrumb-item.active(aria-current='page')
          a(href='#') Register Device
    button#toolbar-option.navbar-toggler.active(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-expanded='true')
      i.fa.fa-bars(aria-hidden='true')
    #navbarResponsive.collapse.navbar-collapse
      ul#toolbar-nav.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.active(href='#') Home
        li.nav-item
          a.nav-link.active(href='#') About
// <form action="/action_pag/register_device" class="was-validated" method="get" style="margin-left: 20px; width: 70% ">
#uuid-con.container
  form#form-uuid.needs-validation(action='../device/register_device' novalidate='' method='get' style='margin: 20px 0px 0px 0px;; width: 70%')
    // <form action="http://192.168.43.157:3000/device/register_device" class="needs-validation" novalidate method="get" style="margin: 20px 0px 0px 0px;; width: 70%" id="form-uuid">
    .form-group
      label(for='device_uuid') UUID:
      input#uuid.form-control(type='text' placeholder='Please fill uuid of device' name='device_uuid' required='')
      .valid-feedback Valid
      .invalid-feedback Please fill out this field
    .form-group
      label(for='device_name') NAME:
      input#name.form-control(type='text' placeholder='Please fill name of device' name='device_name' required='')
      .valid-feedback Valid
      .invalid-feedback Please fill out this field
    button#driver.btn.btn-primary(type='submit') Submit
#con-msg.container
  strong MESSAGE
  br
script.
  // Disable form submissions if there are invalid field
  $('#form-uuid').submit(event=>{
  event.preventDefault();
  var form=$(event.target)
  var url= form.attr('action')
  var request_method= form.attr('method')
  var form_data= form.serialize()
  var allVal = document.getElementsByClassName('needs-validation');
  var allMsg = $('#con-msg');
  var aa=allMsg.children().length
  var bb=allMsg.find("i").length
  var validation = Array.prototype.filter.call(allVal, function(form) {
  if (form.checkValidity() === false) {
  event.preventDefault();
  event.stopPropagation();
  } else {
  $.ajax({
  type: request_method,
  url: url,
  data: form_data,
  success: data=> {
  //console.log(data.msg)
  if (allMsg.find("i").length > 1) {
  allMsg.find("i").eq(0).remove();
  }
  if (data.msg) {
  var txt2=$("<i>"+data.msg+"</br></i>")
  allMsg.append(txt2);
  }
  },
  error: data=>{
  //console.log(data)
  if (allMsg.find("i").length > 1) {
  allMsg.find("i").eq(0).remove();
  }
  if (data.msg) {
  var txt2=$("<i>"+data.msg+"</br></i>")
  allMsg.append(txt2);
  }
  }
  })
  }
  form.classList.add('was-validated');
  });
  })
