extend layout

block vars
    - var page_title = "Register"

append header_css
    link(href="../css/reset_password.css", rel="stylesheet")
append header_script

block content
    h2#login-header 
        a(href='/' id="home-button") 
            span(class="fa fa-home" aria-hidden="true")
        | Reset Password
    #container.container
        //- .form-container.sign-up-container
        //-     form(action='/register' method="post" id="sign-up-form")
        //-         h1 Create Account
        //-         //- .social-container
        //-         //-     a.social(href='#')
        //-         //-         i.fab.fa-facebook-f
        //-         //-     a.social(href='#')
        //-         //-         i.fab.fa-google-plus-g
        //-         //-     a.social(href='#')
        //-         //-         i.fab.fa-linkedin-in
        //-         //- span or use your email for registration
        //-         input(name='username' type='text' placeholder='Username')
        //-         input(name='email' type='email' placeholder='Email')
        //-         input(name='password' type='password' placeholder='Password')
        //-         button
        //-             span(class="fa fa-spinner fa-spin" style="display:none; margin-right:5px").loaderDiv 
        //-             | Sign Up
        //- .form-container.sign-in-container
        .form-container.reset-password-container
            //- form(method="post" id="sign-in-form")
            form(method="post" id="reset-password-form")
                h1(style="font-size: 1.5em") Create new password
                //- .social-container
                //-     a.social(href='#')
                //-         i.fab.fa-facebook-f
                //-     a.social(href='#')
                //-         i.fab.fa-google-plus-g
                //-     a.social(href='#')
                //-         i.fab.fa-linkedin-in
                //- span or use your account
                //- input(name='login_info' type='text' placeholder='Email/Username')
                input(name='password' type='password' placeholder='New Password')
                button
                    span(class="fa fa-spinner fa-spin" style="display:none; margin-right:5px").loaderDiv 
                    | Reset password
                    
                
        //- .form-container.forgot-password-container
        //-     form(action='#' method="post")
        //-         h1 Forgot password
        //-         input(name='login_info' type='text' placeholder='Email/Username')
        //-         button 
        //-             span(class="fa fa-spinner fa-spin" style="display:none; margin-right:5px").loaderDiv
        //-             | Reset password
        //-         //- div(style="height: 50px; width: 100%")
        //-         span
        //-             i(class="fas fa-arrow-right fa-3x")

        .overlay-container
            .overlay
                //- .overlay-panel.overlay-left
                //-     h1(style="margin-bottom:15px") Welcome Back!
                //-     //- p Log in
                //-     button#signIn.ghost Sign In
                //-     a(href='#forgot-password') Forgot your password?
                .overlay-panel.overlay-right
                    h1(style="margin-bottom:15px") Log In?
                    //- p Create new account
                    //- button#signUp.ghost(onclick="location.href = '/login';") Click here
                    button.ghost(onclick="location.href = '/login';") Click here
                    //- a(href='#forgot-password') Forgot your password?
    footer
        //- p
        //-     | Created with 
        //-     i.fa.fa-heart
        //-     |    by
        //-     a(target='_blank' href='https://florin-pop.com') Florin Pop
        //-     | &#x9;&#x9;- Read how I created this and how you can join the challenge
        //-     a(target='_blank' href='https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/') here
        //-     | .


append footer
    script.
        $("#reset-password-form").submit(e => {
            //- console.log('test');
            e.preventDefault();
            var form = $(e.target);
            var url = form.attr('action');
            var request_method = form.attr("method");
            var form_data = form.serialize(); 
            //var test = $("#sign-in-form").attr("action")
            $.ajax({
                type: request_method,
                url: url,
                data: form_data, // serializes the form's elements.
                beforeSend: function() {
                    $(".loaderDiv").show();
                },
                success: data => {
                    //- $(".loaderDiv").hide();
                    //console.log(response)
                    alert(data.msg);
                    if (data.redirect) 
                        window.location.href = data.redirect;
                    $(".loaderDiv").hide();
                    //- new Promise(() => );
                    
                },
                error: data => {
                    $(".loaderDiv").hide();
                    alert(data.responseJSON.msg);
                }
            });
        });
        //- const signUpButton = document.getElementById('signUp');
        //- const signInButton = document.getElementById('signIn');
        //- const container = document.getElementById('container');

        //- //- console.log($(location).attr('hash'));
        //- //- console.log($(location).attr('href'));

        //- signUpButton.addEventListener('click', () => {
        //-     window.location.hash = "sign-up";
        //-     container.classList.add("right-panel-active");
        //-     //- if($(".container").hasClass("forgot-password-active")){
        //-         $(".container").removeClass("forgot-password-active");
        //-     //- }
            
        //- });

        //- signInButton.addEventListener('click', () => {
        //-     window.location.hash = "sign-in";
        //-     container.classList.remove("right-panel-active");
        //-     //- if($(".container").hasClass("forgot-password-active")){
        //-         $(".container").removeClass("forgot-password-active");
        //-     //- }
            
        //- });

        //- $(".overlay-panel a").click(() => {
        //-     //$(".container").toggleClass("forgot-password-active");
        //-     //- if(!$(".container").hasClass("forgot-password-active"))
        //-         $(".container").addClass("forgot-password-active");
        //-     if($(".container").hasClass("right-panel-active"))
        //-         $(".form-container.forgot-password-container .fa-arrow-right").removeClass("fa-arrow-right").addClass("fa-arrow-left");
        //-     else
        //-         $(".form-container.forgot-password-container .fa-arrow-left").removeClass("fa-arrow-left").addClass("fa-arrow-right");
        //- })

        //- $(".form-container.forgot-password-container span").click(() => {
        //-     $(".container").removeClass("forgot-password-active");
        //- })

        //- $("#sign-in-form, #sign-up-form").submit(e => {
        //-     //- console.log('test');
        //-     e.preventDefault();
        //-     var form = $(e.target);
        //-     var url = form.attr('action');
        //-     var request_method = form.attr("method");
        //-     var form_data = form.serialize(); 
        //-     var test = $("#sign-in-form").attr("action")
        //-     $.ajax({
        //-         type: request_method,
        //-         url: url,
        //-         data: form_data, // serializes the form's elements.
        //-         beforeSend: function() {
        //-             $(".loaderDiv").show();
        //-         },
        //-         success: data => {
        //-             //- $(".loaderDiv").hide();
        //-             //console.log(response)
        //-             if (!data.redirect) return;
        //-             new Promise(() => alert(data.msg));
        //-             window.location.href = data.redirect;
        //-         },
        //-         error: data => {
        //-             $(".loaderDiv").hide();
        //-             alert(data.responseJSON.msg);
        //-         }
        //-     });
        //- });

        //- var url_hash = $(location).attr('hash');
        //- if (!url_hash){
        //-     window.location.hash = "sign-in";
        //- }
        //- if (url_hash == "#sign-in"){
        //-     $(".container").addClass("right-panel-active");
        //-     $(".overlay-container, .form-container").addClass('disable-transition-time');
        //- }

        //- $( document ).ready(() => {
        //-     if (url_hash){  
        //-         if (url_hash == "#sign-in"){
        //-             //$(".container").addClass("right-panel-active");
        //-             $(".overlay-container, .form-container").removeClass('disable-transition-time');
        //-             $(".container").removeClass("right-panel-active");
        //-         }
        //-         else if (url_hash == "#sign-up"){
        //-             $(".container").addClass("right-panel-active");
        //-             //$(".container").removeClass("forgot-password-active");
        //-         }
        //-         else if (url_hash == "#forgot-password"){
        //-             $(".container").addClass("forgot-password-active");
        //-             if($(".container").hasClass("right-panel-active"))
        //-                 $(".form-container.forgot-password-container .fa-arrow-right").removeClass("fa-arrow-right").addClass("fa-arrow-left");
        //-             else
        //-                 $(".form-container.forgot-password-container .fa-arrow-left").removeClass("fa-arrow-left").addClass("fa-arrow-right");
        //-         }
        //-         //- $('#sign-in:target, #sign-up:target, #forgot-password-a, #forgot-password-b')
        //-     }
        //- })
        